/* style file */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #232323;
    scrollbar-width: thin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
}

:root {
    --clr-background: #232323;
    --clr-txt: #fff;
    --clr-shadow: #0e0e0e;
}

header{
    margin: 10px;
    display: flex;
    background-attachment: fixed;
}

#logo h1{
    font-size: 20px;
    width: 45px;
    word-wrap: break-word;
    color: var(--clr-txt);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: end;
    line-height: 18px;
    margin: 10px;
}

nav{
    background: none;
}

ul{
    display: flex;
    margin: 10px 10px 10px 800px;}

ul li{
    list-style-type: none;
    justify-content: space-between;
    padding: 12px 30px;
}

li a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--clr-txt);
}


#hero-header{
    display: flex;
    margin: 70px auto;
    justify-content: center;
}

#hero-header p{
    color: var(--clr-txt);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 10px;
    padding-left: 98px;
    
}

#heroHead{
    font-size: 150px;
    color: var(--clr-txt);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1rem;
    text-shadow: 20px 15px 20px #0e0e0e;
}

.mini{
    padding-left: 420px;
}

.linkings{
    display: flex;
    /* background-attachment: fixed; */
}

#socialLinks{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    justify-content: space-between;
}

#socialLinks i{
    padding: 10px;
}

#socialLinks a{
    color: var(--clr-txt);
}

.nextpage{
    display: flex;
    flex-direction: column;
    margin-left: 1148px;
    margin-top: 10px;
}

.nextpage hr{
    width: 1px;
    height: 30px;
    margin-left: 9px;
    margin-top: 10px;
}

.nextpage p{
    writing-mode: vertical-lr;
    text-align: center;
    color: var(--clr-txt);
    transform: rotate(180deg);
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.card-section{
    margin-top: 80px;
    position: relative;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 30px;
    position: relative;
}

.card{
    width: 400px;
    height: 450px;
    margin: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    transition: transform 0.5s;
}   

.cardLhover img{
    transform: scale(1.2);
}

.card-content{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.card-content h1{
    background: none;
    color: var(--clr-txt);
    font-size: 33px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 80%;
    margin-bottom: 2px;
}

.card-content p{
    margin: 20px;
    font-size: 12px;
    text-align: center;
    color: var(--clr-txt);
    background: none;
    opacity: 0.56;
    border-radius: 50px;
    padding: 0px 15px;
    margin-bottom: 5px;

}

.card-button{
    margin: 20px auto;
    justify-content: center;
    display: flex;
    background: none;
}

.card-button button{
    padding: 10px 40px;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--clr-txt);
    background-color: #181717;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.card-button button:hover{
    box-shadow: 6px 7px 8px 2px var(--clr-shadow);
}

.card-button button:active{
    box-shadow: 1px 2px 8px 2px var(--clr-shadow);
    background-color: #232323;
}

.card:hover .card-content{
    height: 100%;
}

#contactForm-section{
    display: flex;
    margin: 100px 40px 40px 40px;
}

.contact-content{
    margin: 20px;
    color: var(--clr-txt);
}

.contact-content .contact-header, .contact-paragraph{
    text-align: center;
}

.contact-content .contact-header h1{
    font-size: 50px;
    font-weight: 500;
}

.contact-content .contact-paragraph p{
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    padding: 20px;
    width: 560px;
}

.contact-content .contact-list{
    margin: 20px;    
}

.contact-content .contact-list .contact-list-heads{
    text-align: center;
    margin: 10px;
}

.contact-content .contact-list .contact-list-paragraph{
    text-align: center;
    margin: 10px 10px 20px 10px;
    font-weight: 500;
}

.contact-form{
    width: 600px;
    height: 700p;
    border-radius: 10px;
    box-shadow: -5px 0px 10px 5px var(--clr-shadow);
}

.contact-form .form-header{
    color: var(--clr-txt);
}

.contact-form .form-header h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.contact-form .form-input{
    margin: 40px;
}

.contact-form .form-input input{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    color: var(--clr-txt);
    border: none;
    background: none;
}

.contact-form .form-input .form-button{
    margin: 20px auto;
    justify-content: center;
    display: flex;
}

.contact-form .form-input .form-button button{
    padding: 12px 35px;
    border-radius: 10px;
    transition: box-shadow 0.5s ease-in-out;
}

.contact-form .form-input .form-button button:hover{
    box-shadow: 5px 5px 10px var(--clr-shadow);
}