/* style file */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
    /* scrollbar-width: none;
    overflow: hidden; */
}

header{
    margin: 10px;
    display: flex;
    background-attachment: fixed;
}

#logo h1{
    font-size: 20px;
    width: 45px;
    word-wrap: break-word;
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: end;
    line-height: 18px;
    margin: 10px;
}

nav{
    background: none;
}

ul{
    display: flex;
    margin: 10px 10px 10px 800px;}

ul li{
    list-style-type: none;
    justify-content: space-between;
    padding: 12px 30px;
}

li a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffff;
}

#hero-header{
    display: flex;
    margin: 70px auto;
    justify-content: center;
}

#hero-header p{
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 10px;
    padding-left: 98px;
    
}

#heroHead{
    font-size: 150px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1rem;
    text-shadow: 20px 15px 20px #0e0e0e;
}

#heroHead .mini{
    padding-left: 320px;
}

.linkings{
    display: flex;
    background-attachment: fixed;
}

#socialLinks{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
}

#socialLinks i{
    padding: 10px;
}

#socialLinks a{
    color: #fff;
}

.nextpage{
    display: flex;
    flex-direction: column;
    margin-left: 1148px;
    margin-top: 10px;
}

.nextpage hr{
    width: 1px;
    height: 30px;
    margin-left: 9px;
    margin-top: 10px;
}

.nextpage p{
    writing-mode: vertical-rl;
    text-align: center;
    color: #fff;
    transform: rotate(180deg);
    font-size: 15px;
    padding: 0;
    margin: 0;
}