/* style file */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #232323;
    scrollbar-width: thin;
    /* overflow: hidden; */
}

:root {
    --clr-background: #232323;
    --clr-txt: #fff;
    --clr-shadow: #0e0e0e;
}

header{
    margin: 10px;
    display: flex;
    background-attachment: fixed;
}

#logo h1{
    font-size: 20px;
    width: 45px;
    word-wrap: break-word;
    color: var(--clr-txt);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: end;
    line-height: 18px;
    margin: 10px;
}

nav{
    background: none;
}

ul{
    display: flex;
    margin: 10px 10px 10px 800px;}

ul li{
    list-style-type: none;
    justify-content: space-between;
    padding: 12px 30px;
}

li a{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--clr-txt)f;
}


#hero-header{
    display: flex;
    margin: 70px auto;
    justify-content: center;
}

#hero-header p{
    color: var(--clr-txt);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 10px;
    padding-left: 98px;
    
}

#heroHead{
    font-size: 150px;
    color: var(--clr-txt);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1rem;
    text-shadow: 20px 15px 20px #0e0e0e;
}

.mini{
    padding-left: 420px;
}

.linkings{
    display: flex;
    /* background-attachment: fixed; */
}

#socialLinks{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 10px;
    justify-content: space-between;
}

#socialLinks i{
    padding: 10px;
}

#socialLinks a{
    color: var(--clr-txt);
}

.nextpage{
    display: flex;
    flex-direction: column;
    margin-left: 1148px;
    margin-top: 10px;
}

.nextpage hr{
    width: 1px;
    height: 30px;
    margin-left: 9px;
    margin-top: 10px;
}

.nextpage p{
    writing-mode: vertical-lr;
    text-align: center;
    color: var(--clr-txt);
    transform: rotate(180deg);
    font-size: 15px;
    padding: 0;
    margin: 0;
}


.cards-forWebsites{
    margin: 70px auto ;
    overflow: auto;
    display: flex;
    justify-content: center; 
    color: var(--clr-txt);
}

.container{
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    padding: 56px;
}

.card{
    width: 600px;
    height: 400px;
    /* border-radius: 20px; */
    overflow: hidden;
    border: none;
    position: relative;
    margin: 10px;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
    
}

.card-content{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #23232337;
    backdrop-filter: blur(3px);
    border-radius: 5px;
    color: var(--clr-txt);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease-in-out;
}

.card:hover .card-content{
    right: 0;
}

.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    background: none;
    text-align: center;
}

.card-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    background: none;
    text-align: center;
}

.card-info{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    background: none;
    text-align: center;
}

.card-btn{
    color: #1f3d46;
    background-color: #8fabba;
    padding: 10px 20px;
    width: 120px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}